export AIRTABLE_API_KEY=WHATEVER_IT_IS
export ACADEMY_AIRTABLE_BASE_ID=WHATEVER_IT_IS
export APPRENTICESHIPS_AIRTABLE_BASE_ID=WHATEVER_IT_IS
export SLACK_TOKEN_STAFF=WHATEVER_IT_IS
export SLACK_TOKEN_STUDENT_ACADEMY=WHATEVER_IT_IS
export SLACK_TOKEN_STUDENT_APPRENTICESHIPS=WHATEVER_IT_IS
